*{
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: auto;
}

header{
    display: flex;
}

.restaurants img, header img{
    width: 50%;
    height: 110px;
    object-fit: cover;
}

footer img{
    width: 50%;
}