*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    max-width: 768px;
}


@media screen and (max-width: 1024px) {

    .container figure{
        text-align: center;
        margin-top: 15px;
    }

    .introduction{
        display: flex;
        justify-content: center;
        border-top: solid gray 3px;
        margin-top: 15px;
        padding-top: 10px;
        background: lightgray;
        height: 30px;

        p{
            padding-left: 10px;
        }
    } 
    
    .entete{
        display: flow-root;
        text-align: center;
        background: whitesmoke;
        height: 260px;

        h1{
            font-size: 1.5em;
            margin-left: 25px;
            margin-right: 25px;
            margin-top: 25px;
            font-weight: bold;
            font-family: system-ui;
        }

        p{
            margin-top: 10px;
        }

        button{
            margin-top: 25px;
            border-radius: 25px;
            padding: 5%;
            border: none;
            background: linear-gradient(1turn, #9356DC, #FF79DA);
            color: white;
            font-weight: bold;
            font-size: 1em;
            box-shadow: 1px 0px 5px 0px grey;
                }
    }
}