* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

h1{
	font-family: shrikhand;
	margin-left: 10px;
  padding-top: 20px;
  font-size: 1.4em;
}

a{
	text-decoration: none;
	color: black;
  display: flex;
}

.load-spinner{
	opacity: 0;
}

.loading{
  border-top: 10px solid #9356DC;
  border-bottom: 5px solid #FF79DA;
  border-left: 10px solid #99E2D0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 4s linear both;
  -o-animation: spin 4s linear both;
  animation: spin 4s linear both;
  margin: auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

@-webkit-keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
  }
}

header{
  background: white;
}
.container{
  opacity: 1;
  background: #F5F5F5;
  max-width: 1280px;
  margin: auto;
}
.container figure {
  text-align: center;
  margin-top: 15px;
  background: white;
}
.fa-arrow-left{
  margin-left: 10px;
  margin-top: -28px;
}
.introduction {
  display: flex;
  justify-content: center;
  border-top: solid rgb(206, 206, 206) 3px;
  padding-top: 10px;
  background-color: rgb(234, 234, 234);
  height: 30px;
}
.introduction p {
  padding-left: 10px;
}

.entete {
  display: flow-root;
  text-align: center;
  background: whitesmoke;
  height: 270px;
}
.entete h1 {
  font-size: 1.5em;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  font-family: "Roboto";
}
.entete p {
  margin-top: 10px;
}
.titre{
  position: relative;
  margin-top: -35px;
  background: white;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-evenly;
  background: #F5F5F5;
}
.titre .animation{
margin-top: 20px;
}
.fonctionnement{
  background: white;
  padding: 20px 20px 50px 20px;
}
.fonctionnement h2{
  padding-left: 10px;
  padding-top: 40px;
}
.fonctionnement .description{
  margin-top: 35px;
  width: 90%;
  border-radius: 15px;
  height: 35px;
  padding-top: 15px;
  box-shadow: lightgrey 1px 8px 4px -5px;
  background: #F5F5F5;
  display: flex;
  max-width: 300px;
}
.fonctionnement .description:hover{
  background: #F5EDFF;
}
.englobe2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.description .chiffres{
  margin-left: -10px;
  color: white;
  background: #9356DC;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}	
.description i{
  margin-left: 20px;
  color: dimgray;
}
.description .violet{
  color: #9356DC;
}
.description p{
  margin-left: 10px;
  align-content: center;
  justify-content: center;
  display: flex;
}
.cartes h2{
  padding-top: 30px;
  width: 147px;
}
.photoprincipale{
width: 100%;
  object-fit: cover;
  height: 200px;
}
.restaurants figure{
  width: 92%;
  height: 230px;
  margin-left: 10px;
  border-radius: 15px;
  box-shadow: lightgrey 0 3px 10px 3px;
  margin-top: 20px;
  max-width: 450px;
}
.restaurants figure img{
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 172px;
}
.nouveautes{
display: flex;
}
.nouveautes{
  background-color: #99E2D0;
  width: 90px;
  border-radius: 3px;
  margin-top: 30px;
  color: rgb(0, 135, 102);
  padding: 3px;
  position: absolute;
  margin-left: 180px;
  justify-content: center;
}
.cartes{
  background: #F5F5F5;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.explications{
  display: flex;
  margin-top: 20px;
  width: 285px;
  border-radius: 15px;
  max-width: 300px;
  height: 34px;
  padding-top: 15px;
  box-shadow: lightgrey 1px 8px 4px -5px;
  justify-content: space-between;
  background: white;
  overflow: hidden;
}
.cartes .explications1{
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
}
.entrees, .plats, .desserts h2{
  padding-left: 10px;
}
.carteresto1{
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 0.8em;
}
.cartes .trait{
  width: 50px;
  border-bottom-style: outset;
  margin-left: 10px;
  border: solid #99E2D0 1px;
  margin-top: 3px;
}
.englobe{
  background: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.carteresto{
  margin: -8px 20px 0 10px;
  font-size: 0.75em;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carteresto .description{
  display: flex;
  margin-top: 35px;
  width: 90%;
  border-radius: 15px;
  height: 35px;
  padding-top: 15px;
  margin-left: 20px;
}
.carteresto h3{
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.prix{
  margin-right: 20px;
  margin-top: 7px;
  width: 60px;
}
.explications:hover .vert{
  margin-right: 0;
  transition-duration: 2s;
}
.animation{
  display: flex;
  align-self: center;
  margin-left: 60px;
}
.vide{
  align-self: center;
  margin-left: 40px;
  opacity: 1;
}
.plein{
  display: block;
  opacity: 0;
  background: linear-gradient(1turn, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vide:hover{
  opacity: 0;
  transition-duration: 2s;
}
.plein:hover{
  opacity: 1;
  transition-duration: 2s;
}
.btncmd{
  display: flow-root;
  text-align: center;
  background: whitesmoke;
  height: 270px;
}
.boutoncommande{
  text-align: center;
  border-radius: 50px;
  border: none;
  background: linear-gradient(1turn, #9356DC, #FF79DA);
  color: white;
  font-size: 1em;
  box-shadow: 1px 0px 5px 0px grey;
  width: 270px;
  height: 50px;
  margin-top: 35px;
}
.boutoncommande:hover{
  box-shadow: 3px 0 10px 0 grey;
  background: linear-gradient(1turn, #9380DC, #FF99DA);
}
.vert{
  width: 34px;
  background: #99e2d0;
  color: white;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -52px;
  padding: 7.5px 13px 7.5px 13px;
  margin-top: -15px;
}
.blanc{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(360deg);
    transition-duration: 15s;
}
footer{
  height: 200px;
  display: grid;
  background: #464646;
  margin-top: 60px;
}
footer h3{
  font-family: shrikhand;
  color: white;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: 100;
}
footer p{
  margin-left: 10px;
  color: white;
  margin-top: -5px;
}
footer .logotexte{
  display: flex;
}
.logotexte i{
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}
.logotexte .hand{
  margin-right: 4px;
}
.logotexte p{
  color: white;
}
  
  @media screen and (max-width: 320px)
{
  .nouveautes{
    margin-left: 150px;
  }
}
@media screen and (min-width: 1280px)
{
  .restaurants figure{
    max-width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */
